*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul,ol{
    list-style-type: none;
}

a{
    text-decoration: none;
}

/* ========================================= main css start ========================= */
/* =========================================
            header part start
============================================ */

#header{
    line-height: 94px;
    background-color: #562EFF;
}
#header .header-main{
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}

#header .header-main .logo img {
    width: 40px;
    height: 50px;
    margin-top: 26px;
}

#header .header-main .logo{
    display: flex;
}

#header .header-main .logo h2{
    font-family: 'Poppins', sans-serif;
    font-size: 24px;
    font-weight: 500;
    margin-left: 15px;
    color: #FFFFFF;
}

#header .header-main .text ul li {
    display: inline-block;
    margin-right: 36px;
}

#header .header-main .text ul li a{
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #fff;
}

#header .header-main .text ul li .img {
    position: absolute;
    margin-top: -30px;
    margin-left: -30px;
}

.logo{
    grid-area: logo;
}

.text{
    grid-area: text;
}

/* =========================================
            header part end
============================================ */

/* =========================================
            player part start
============================================ */
#player-part{
    /* padding-top: 33px; */
    padding-bottom: 40px;
    background-color: #F3F1FF;;

}



#player-part .top-player{
    max-width: 1200px;
    margin: 0 auto;
    padding-bottom: 40px;
    background-color: #fff;
    border-radius: 5px;

}

#player-part .top-player h2{
    font-family: 'Poppins', sans-serif;
    font-size: 24px;
    font-weight: 500;
    color: #562EFF;
    padding-top: 33px;
    margin-left: 33px;

}


#player-part .top-player .player-info{
    display: flex;
    text-align: center;
    align-items: center;
    gap: 16px;
    margin-left: 30px;
    margin-top: 40px;
}

#player-part .top-player .player-info .img img{
    width: 56px;
    height: 56px;

}

#player-part .top-player .player-info .text h2{
    color: #000000;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-weight: 500;
    
}

#player-part .top-player .item{
    
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(2,1fr);
}

hr {
    border: 1px solid #9F9F9F;
    margin-top: 25px;
    width: 95%;
    position: relative;
    left: 26px;
}


#player-part .blogs-item{
    display: flex;
}




#player-part .blogs-item img{
    width: 177px;
    height: 117px;
    margin-left: 30px;
    margin-top: 31px;
}

#player-part .blogs-item .details h3 {
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-weight: 500;
    color: #000000;
    margin-left: 16px;
    margin-top: 35px;
}

#player-part .blogs-item .details small{
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #9F9F9F;

}

#player-part .blogs-item .details p{
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 500;
    color: #562EFF;
    margin-left: 16px;
    margin-top: 6px;

}

#player-part .blog-main{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(2,1fr);
}
/* =========================================
            player part end
============================================ */


/* =========================================
            course part start
============================================ */
#course-part {
    padding-bottom: 47px;
    background-color: #F3F1FF;
    padding-top: 20px;
}

#course-part .course-main {
    max-width: 1200px;
    padding-bottom: 40px;
    background-color: #fff;
    border-radius: 5px;
    margin: 0 auto;
   
}

#course-part .course-main h2 {
    font-family: 'Poppins', sans-serif;
    font-size: 24px;
    font-weight: 500;
    color: #562EFF;
    padding-top: 33px;
    margin-left: 61px;
    margin-bottom: 30px;
}

#course-part .course-item {
    height: 300px;
    margin-left: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgb(240, 224, 224);

    
}

#course-part .course-item:last-child{
    margin-right: 20px;
}

#course-part .course-item img{
    width: 224px;
    height: 104px;
    margin-left: 30px;
    margin-top: 24px;
}


#course-part .course-item h1{
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 20px;
    color: #1E1E1E;
    margin-left: 40px;
    margin-top: 19px;
}


#course-part .course-item  p{
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    font-weight: 400;
    color: #ED6B4F;
    margin-left: 40px;
    margin-top: 10px;
}

#course-part .course-item .star {
    margin-left: 35px;
    margin-top: 10px;
}

#course-part .course-item .star small{
    font-size: 20px;
    color: #9F9F9F;
}

#course-part .course-item .star i{
    color: #FFC014;
}

#course-part .course-item .clock {
    padding: 10px;
    background-color: #de4f5fb0;
    border-radius: 20px;
    margin-right: 30px;
    margin-top: 3px;
}

#course-part .course-item .clock i{
    color: #FF4A60;
    font-size: 15px;
}

#course-part .course-item .clock small{
    color: #FF4A60;
    font-size: 15px;
}

#course-part .course-item .footer-part{
    display: flex;
    justify-content: space-between;
}

#course-part .course-main .course-container{
    display: flex;
    justify-content: space-around;
}

/* =========================================
            course part end
============================================ */


/* ========================================= mobile device ===================================================== */

@media only screen and (max-width:688px) {


    .header-main{
        width: 100%;
    }


    .logo{
        display: flex;
        flex-direction: row;
    }

    #header .text{
        display: flex;
        flex-direction: row;
    }


    #header .header-main .text ul li a {
        font-size: 10px;

    }

    #header .header-main .logo {
        margin-left: 10px;
    }

    #player-part .top-player .item{
        /* width: 100%; */
        display: grid;
        grid-template-columns: repeat(1,1fr);
    }

    #player-part .blog-main{
        display: grid;
        grid-template-columns: repeat(1,1fr);
    }

    #player-part .blog-main .blogs-item{
        display: flex;
        flex-direction: column;
    }

    #course-part .course-container .course-item {
        width: 100%;
        margin-left: 0px;
    }

    #header .header-main .logo h2 {
        font-size: 15px;

    }


    #course-part .course-main .course-container {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

 
    
}
/* ========================================= mobile device ===================================================== */


/* ========================================== tab device ========================================================= */

@media only screen and (min-width:689px) and (max-width:992px) {
    #header .header-main .logo {
        margin-left: 30px;
    }

    /* #player-part .player-info{
        display: grid;
        grid-template-columns: repeat(1,1fr);
    } */
    
}

/* ========================================== tab device ========================================================= */